.header{
	  font-size: 12px;
		height: 80%;
  }

.logo{
			display:inline;
      color:black;
      font-size:15px;
}
.buttons{
	display:inline;
	float:right;
	margin-top: 7px;
}
.layout{
	background-color: orange;
}
